@using BloggingDemo.Shared
@using BloggingDemo.Shared.Models

@inject IBlogRepository BlogRepository

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bloging Demo App</a>
    </div>
</div>

@if (!isCollapsed)
{
    <ul class="nav flex-column">
        @foreach (var post in blogPosts)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"/post/{post.Id}")">
                    @post.Title
                </NavLink>
            </li>
        }
    </ul>
}

@code {
    private List<BlogPost> blogPosts = new();

    protected override async Task OnInitializedAsync()
    {
        blogPosts = await BlogRepository.GetAllPostsAsync();
    }

    private bool isCollapsed = false; // False shows the list, true hides it

    public void ToggleCollapse()
    {
        isCollapsed = !isCollapsed;
        Console.WriteLine($"isCollapsed: {isCollapsed}");
    }
}
